@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.css";
@import "~dropzone/dist/min/dropzone.min.css";
.new-record-btn{
    border: 1px solid #00c7fc;
    color: #00c7fc;
}
.new-record-btn:hover{
    background-color: #00c5fc1b ;
    color: #00c7fc;
}

.back-btn{
    border: 1px solid #e392fe;
    color: #e392fe;
}
.back-btn:hover{
    background-color: #e392fe5e ;
    color: #e392fe;
}

.edit-btn{
    border: 1px solid #fecb3e;
    color: #fecb3e;
}
.edit-btn:hover{
    background-color: #fecb3e5d ;
    color: #fecb3e;
}
